.user-select() {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.appearance() {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.hidden() {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.touch-action(@value: manipulation) {
	-ms-touch-action: @value;
	touch-action: @value;
}

@outline-color: var(--primary);
@outline-width: 0.25em;

@outline: @outline-color solid @outline-width;

.outline() {
	&:focus {
		outline: @outline;
	}

	@supports selector(:focus-visible) {
		&:focus {
			outline: none;
		}
	}

	&:focus-visible {
		outline: @outline;
		outline-offset: @outline-width;

		&:active {
			outline-offset: 0;
		}
	}
}
