.user-select() {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.appearance() {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.hidden() {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.touch-action(@value: manipulation) {
	-ms-touch-action: @value;
	touch-action: @value;
}

.remove-border-radius(@pos1, @pos2) {
	@firefox: ~ '@{pos1}@{pos2}';
	@everything_else: ~ '@{pos1}-@{pos2}';

	-moz-border-radius-@{firefox}: 0;
	-webkit-border-@{everything_else}-radius: 0;
	border-@{everything_else}-radius: 0;
}

@outline-color: var(--primary);
@outline-width: 2px;

@outline: @outline-color solid @outline-width;

.outline() {
	&:focus {
		outline: @outline;
	}

	@supports selector(:focus-visible) {
		&:focus {
			outline: none;
		}
	}

	&:focus-visible {
		outline: @outline;
	}
}
