@import (reference) "./variables.less";

.@{radio-prefix} {
	.appearance();
	.touch-action();
	.outline();

	display: inline-block;
	width: @radio-size;
	height: @radio-size;
	padding: 0;
	margin: 0;
	background-color: var(--input-bg);
	border: @radio-border-width @border-style var(--input-border);
	border-radius: @radio-border-radius;
	box-shadow: none;
	font-size: @font-size-medium;
	vertical-align: middle;
	transition: @transition-speed-fast @transition-easing;
	transition-property: border, background-color;
	cursor: pointer;

	&-wrapper {
		position: relative;
		display: block;
		font-size: @font-size-medium;
		vertical-align: middle;

		&:hover .@{radio-prefix}:not([disabled], :disabled) {
			border-color: var(--input-border-hover);

			&:is([checked], :checked) {
				border-color: var(--primary-hover);
			}
		}
	}

	&-label {
		.user-select();
		display: inline-block;
		padding-inline-start: @radio-label-padding-x;
		font-size: @font-size-medium;
		color: var(--input-color);
		vertical-align: middle;
		cursor: pointer;
		transition: color @transition-speed-fast @transition-easing;
	}

	&:active:not([disabled], :disabled) {
		border-color: var(--input-border-active) !important; // @todo achieve without !important
		border-width: @radio-border-width-focus;
	}

	&[checked],
	&:checked {
		border-color: var(--input-border-active);
		border-width: @radio-border-width-active;
	}

	&:is([disabled], :disabled) {
		&,
		&:hover,
		&:focus,
		&:active {
			background-color: var(--input-bg-disabled);
			border-color: var(--input-border-disabled);
			border-width: @radio-border-width;
			cursor: not-allowed;
		}

		&[checked],
		&:checked {
			border-width: @radio-border-width-active;
		}

		& + .@{radio-prefix}-label {
			&,
			&:hover,
			&:focus,
			&:active {
				color: var(--input-color-disabled2);
				cursor: not-allowed;
			}
		}
	}
}
