@import (reference) "./variables.less";

.@{radio-prefix} {
	.appearance();
	.touch-action();
	.outline();

	position: relative;
	display: inline-block;
	width: (@line-height + 0.125em);
	height: (@line-height + 0.125em);
	padding: 0;
	margin: 0;
	vertical-align: middle;
	cursor: pointer;

	&::before {
		content: "";
		display: block;
		width: @radio-size;
		height: @radio-size;
		margin: calc((unit(@line-height, em) - @radio-size) - (@border-width-medium * 2));
		background-color: var(--input-bg);
		border: @radio-border-width @border-style var(--input-border);
		border-radius: @radio-border-radius;
		transition: @transition-speed-fast @transition-easing;
		transition-property: border, background-color;
	}

	&:hover,
	&:focus {
		&::before {
			border-color: var(--input-border-hover);
		}
	}

	&:active {
		&::before {
			border-color: var(--input-border-active);
			border-width: @radio-border-width-focus;
		}
	}

	&:where([checked], :checked) {
		&::before {
			border-color: var(--input-border-active);
			border-width: @radio-border-width-active;
		}

		&:hover,
		&:focus {
			&::before {
				border-color: var(--input-border-active);
			}
		}
	}

	&-wrapper {
		display: inline-flex;
		flex-direction: row;
		align-content: flex-start;
		font-size: @font-size-medium;
		vertical-align: middle;
	}

	&-label {
		.user-select();
		display: inline-block;
		padding-inline: @radio-label-padding-x;
		font-size: @font-size-medium;
		color: var(--input-color);
		vertical-align: middle;
		cursor: pointer;
		transition: color @transition-speed-fast @transition-easing;
	}

	&:where([disabled], :disabled) {
		cursor: not-allowed;

		&,
		&:hover,
		&:focus,
		&:active {
			&::before {
				background-color: var(--input-bg-disabled);
				border-color: var(--input-border-disabled);
				border-width: @border-width-medium;
			}

			&:where([checked], :checked) {
				&::before {
					border-width: @radio-border-width-active;
				}
			}
		}

		& ~ .@{radio-prefix}-label {
			color: var(--text-disabled);
			cursor: not-allowed;
		}
	}
}
