@import (reference) "../../../styles/index.less";

@radio-prefix: ~"@{renum-prefix}-radio";

@radio-size: 1.125em;
@radio-border-radius: @border-radius-circle;
@radio-border-width: @border-width-medium;
@radio-border-width-focus: 0.125em;
@radio-border-width-active: (@radio-border-width-focus * 3);

@radio-label-padding-x: 0.5em;
