@import "./variables.less";

.@{listbox-prefix} {
	.outline();

	display: block;
	width: 100%;
	min-width: inherit;
	padding: 0.25em;
	margin: 0;
	background-color: var(--select-bg-list);
	border-radius: @listbox-border-radius;
	font-size: @font-size-medium;
	overflow-y: auto;
	overflow-x: hidden;
	overscroll-behavior-block: contain;
	list-style: none;

	& > li:first-child {
		margin-block-start: 0;

		& .@{listbox-prefix}-group {
			&::before {
				display: none;
			}

			& li:first-child {
				margin-block-start: 0;
			}
		}
	}

	& > li:last-child {
		margin-block-end: 0;

		& .@{listbox-prefix}-group {
			&::after {
				display: none;
			}

			& li:last-child {
				margin-block-end: 0;
			}
		}
	}

	&-group {
		position: relative;
		display: block;
		padding: 0;
		margin: 0;
		list-style: none;

		&-label {
			font-weight: @font-weight-bold;
		}

		&::before,
		&::after {
			content: "";
			display: block;
			width: 100%;
			height: @border-width-medium;
			background-color: var(--border-subtle);
		}
	}

	& *:last-child > &-group::after {
		display: none;
	}

	&-group-label,
	&-option {
		.user-select();
		.touch-action();

		display: block;
		height: @listbox-option-height;
		padding-block: @input-padding-y;
		padding-inline: @input-padding-x;
		margin-block: (@margin-extraTiny / 2);
		background-color: transparent;
		color: var(--select-color);
		font-size: @font-size-medium;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		outline: none;
	}

	&-option {
		@outline: var(--text-emphasis) @border-style @border-width-large;

		border-radius: @listbox-border-radius;
		cursor: pointer;
		transition: @transition-speed-fast @transition-easing;
		transition-property: color, background-color;

		&:hover {
			background-color: var(--select-bg-option-hover);
		}

		&:active {
			background-color: var(--select-bg-option-active);
		}

		&.focused {
			outline: @outline;
		}

		&[aria-selected="true"] {
			background-color: var(--select-bg-option-selected);
			color: var(--select-color-selected);

			&:hover {
				background-color: var(--select-bg-option-selected-hover);
				color: var(--select-color-selected);
			}

			&:active {
				background-color: var(--select-bg-option-selected-active);
				color: var(--select-color-selected);
			}
		}

		&[aria-disabled="true"] {
			&,
			&:hover,
			&:focus,
			&:active {
				background-color: transparent;
				color: var(--text-disabled);
				cursor: not-allowed;
			}
		}
	}
}
