@import "./main";
@import "./typography";

@background-default: #0d1117;
@background-default-var: var(--background-default);
@background-overlay: #161b22;
@background-overlay-var: var(--background-overlay);
@background-subtle: #161b22;
@background-subtle-var: var(--background-subtle);
@background-inset: #010409;
@background-inset-var: var(--background-inset);

@border-color-default: #30363d;
@border-color-var: var(--border-color);
@border-color-muted: #21262d;
@border-color-var: var(--border-color);
@border-color-subtle: rgba(240, 246, 252, 0.1);
@border-color-var: var(--border-color);

@shadow-color: #010409;
@shadow-color-var: var(--shadow-color);

@neutral-emphasis: #6e7681;
@neutral-emphasis-var: var(--neutral-emphasis);
@neutral-emphasisPlus: #6e7681;
@neutral-emphasisPlus-var: var(--neutral-emphasisPlus);
@neutral-muted: rgba(110, 118, 129, 0.4);
@neutral-muted-var: var(--neutral-muted);
@neutral-subtle: rgba(110, 118, 129, 0.1);
@neutral-subtle-var: var(--neutral-subtle);
