@import "./variables.less";
@import (reference) "../../icon/style/variables.less";

.@{btn-prefix} {
	.appearance();
	.touch-action();
	.user-select();
	.outline();

	position: relative;
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: @btn-padding-y;
	min-width: 76px;
	height: @btn-height;
	margin: 0;
	padding-block: @btn-padding-y;
	padding-inline: @btn-padding-x;
	background-color: var(--btn-bg);
	border: @btn-border-width @btn-border-style var(--btn-border);
	border-radius: @btn-border-radius;
	font: inherit;
	letter-spacing: inherit;
	font-feature-settings: inherit;
	font-size: @font-size-medium;
	color: var(--btn-color);
	font-weight: @font-weight-medium;
	text-align: left;
	line-height: 1;
	white-space: nowrap;
	vertical-align: inherit;
	cursor: pointer;
	transition: @transition-speed-fast @transition-easing;
	transition-property: color, background-color, border;
	z-index: 1;

	&:hover,
	&:focus {
		background-color: var(--btn-bg-hover);
		border-color: var(--btn-border-hover);
	}

	&:active {
		background-color: var(--btn-bg-active);
		border-color: var(--btn-border-active);
	}

	& .@{icon-prefix} {
		transform: translateZ(0) scale(unit(@font-size-large));
	}

	&-text {
		font-size: inherit;
		color: inherit;
		line-height: 1;
	}

	&-icon-only {
		min-width: 0;
		width: @btn-height;
		padding: @btn-padding-icon;
	}

	&-primary {
		color: var(--btn-color-primary);
		background-color: var(--btn-bg-primary);
		border-color: var(--btn-bg-primary);

		&:hover,
		&:focus {
			background-color: var(--btn-bg-primary-hover);
			border-color: var(--btn-bg-primary-hover);
		}

		&:active {
			background-color: var(--btn-bg-primary-active);
			border-color: var(--btn-bg-primary-active);
		}
	}

	&-complementary {
		color: var(--btn-color-complementary);
		background-color: var(--btn-bg-complementary);
		border-color: var(--btn-bg-complementary);

		&:hover,
		&:focus {
			background-color: var(--btn-bg-complementary-hover);
			border-color: var(--btn-bg-complementary-hover);
		}

		&:active {
			background-color: var(--btn-bg-complementary-active);
			border-color: var(--btn-bg-complementary-active);
		}
	}

	&-light {
		color: var(--btn-color-light);
		background-color: var(--btn-bg-light);
		border-color: transparent;

		&:hover,
		&:focus {
			background-color: var(--btn-bg-light-hover);
			border-color: transparent;
		}

		&:active {
			background-color: var(--btn-bg-light-active);
			border-color: transparent;
		}
	}

	&-invisible {
		background-color: transparent;
		border-color: transparent;

		&:hover,
		&:focus {
			background-color: var(--btn-bg-hover);
			border-color: var(--btn-bg-hover);
		}

		&:active {
			background-color: var(--btn-bg-active);
			border-color: var(--btn-bg-active);
		}
	}

	&-ghost {
		&,
		&:hover,
		&:focus,
		&:active {
			background-color: transparent;
		}
	}

	&-round {
		border-radius: @btn-border-radius-round;
	}

	&-pill {
		border-radius: @btn-border-radius-pill;
	}

	&-circle {
		border-radius: @btn-border-radius-circle;
	}

	&-loading {
		cursor: wait;
	}

	&-dashed {
		border-style: dashed;
	}

	&-block {
		width: 100%;
		text-align: center;
	}

	&-group {
		white-space: nowrap;

		& .@{btn-prefix} {

			&:hover,
			&:focus {
				z-index: 2;
			}

			&:first-child {
				border-start-end-radius: 0;
				border-end-end-radius: 0;
			}

			& + .@{btn-prefix} {
				margin-inline-start: -@btn-border-width;

				&:last-child {
					border-start-start-radius: 0;
					border-end-start-radius: 0;
				}

				&:not(:last-child) {
					border-radius: 0;
				}
			}
		}
	}

	&:is([disabled], :disabled) {
		&,
		&:hover,
		&:focus,
		&:active {
			background-color: var(--btn-bg-disabled);
			border-color: var(--btn-bg-disabled);
			color: var(--btn-color-disabled);
			cursor: not-allowed;
		}
	}
}
