@import (reference) "./variables.less";
@import (reference) "../../icon/style/variables.less";

.@{clear-prefix} {
	position: relative;
	display: inline-block;
	width: 1em;
	height: 1em;
	background-color: var(--clear-bg);
	border-radius: @border-radius-circle;
	line-height: 1;
	font-size: @font-size-medium;
	color: var(--input-bg);
	cursor: pointer;
	transition: @transition-speed-fast @transition-easing;
	transition-property: opacity;

	& > .@{icon-prefix} {
		vertical-align: 0;
		transform: scale(@clear-icon-scale);

		& > svg {
			stroke-width: @clear-icon-stroke;
		}
	}
}
