@import (reference) "./common.less";

.dark-mode() {
	--primary-hover: lighten(@primary-color, 5%);
	--primary-active: lighten(@primary-color, 10%);
	--primary-muted: rgba(@primary-color, 0.2);
	--primary-muted-hover: rgba(@primary-color, 0.3);
	--primary-muted-active: rgba(@primary-color, 0.4);

	--complementary-hover: lighten(@complementary-color, 5%);
	--complementary-active: lighten(@complementary-color, 10%);

	.grays(@white);

	// body
	--bg-inset: var(--gray-0);
	--bg-subtle: var(--gray-1);
	--bg-default: var(--gray-2);
	--bg-overlay: var(--gray-4);

	// text
	--text-default: var(--gray-23);
	--text-emphasis: var(--gray-24);
	--text-subtle: var(--gray-19);
	--text-muted: var(--gray-16);
	--text-disabled: var(--gray-14);
	--text-inverse: var(--gray-1);
	--text-placeholder: var(--gray-16);

	// border
	--border-default: var(--gray-8);
	--border-muted: var(--gray-6);
	--border-subtle: var(--gray-4);

	// shadow
	--shadow-color: rgba(@black, 0.5);

	// tooltip
	--tooltip-color: var(--text-inverse);
	--tooltip-bg: rgba(@white, 0.8);

	// hover
	--transparent-hover: rgba(@white, 0.1);
	--transparent-active: rgba(@white, 0.2);

	// btn
	--btn-color: var(--text-default);
	--btn-color-primary: var(--primary-contrast);
	--btn-color-complementary: var(--complementary-contrast);
	--btn-color-invisible: var(--gray-24);
	--btn-color-light: var(--primary-200);
	--btn-color-disabled: var(--gray-14);

	--btn-bg: var(--gray-4);
	--btn-bg-hover: var(--gray-5);
	--btn-bg-active: var(--gray-6);

	--btn-bg-primary: var(--primary);
	--btn-bg-primary-hover: var(--primary-hover);
	--btn-bg-primary-active: var(--primary-active);

	--btn-bg-complementary: var(--complementary);
	--btn-bg-complementary-hover: var(--complementary-hover);
	--btn-bg-complementary-active: var(--complementary-active);

	--btn-bg-light: var(--primary-muted);
	--btn-bg-light-hover: var(--primary-muted-hover);
	--btn-bg-light-active: var(--primary-muted-active);
	--btn-bg-disabled: var(--gray-3);

	--btn-border: var(--gray-8);
	--btn-border-hover: var(--gray-14);
	--btn-border-active: var(--gray-16);

	// input
	--input-color: var(--text-default);
	--input-color-placeholder: var(--text-muted);
	--input-color-disabled: var(--gray-14);

	--input-bg: var(--bg-inset);
	--input-bg-fix: var(--bg-subtle);
	--input-bg-disabled: var(--gray-1);

	--input-border: var(--gray-8);
	--input-border-hover: var(--gray-14);
	--input-border-active: var(--primary);
	--input-border-disabled: var(--gray-4);

	// select
	--select-color: var(--text-default);
	--select-color-selected: var(--primary-200);

	--select-bg-list: var(--bg-overlay);
	--select-bg-option-hover: var(--transparent-hover);
	--select-bg-option-active: var(--transparent-active);
	--select-bg-option-selected: var(--primary-muted);
	--select-bg-option-selected-hover: var(--primary-muted-hover);
	--select-bg-option-selected-active: var(--primary-muted-active);

	// alert
	--alert-color: var(--text-default);
	--alert-color-primary: var(--primary-100);
	--alert-color-info: var(--blue-100);
	--alert-color-success: var(--green-100);
	--alert-color-danger: var(--yellow-100);
	--alert-color-error: var(--red-100);

	--alert-bg: var(--bg-subtle);
	--alert-bg-primary: var(--primary-900);
	--alert-bg-info: var(--blue-900);
	--alert-bg-success: var(--green-900);
	--alert-bg-danger: var(--yellow-900);
	--alert-bg-error: var(--red-900);

	--alert-border: var(--border-subtle);
	--alert-border-primary: var(--primary-800);
	--alert-border-info: var(--blue-800);
	--alert-border-success: var(--green-800);
	--alert-border-danger: var(--yellow-800);
	--alert-border-error: var(--red-800);

	// clear
	--clear-color: var(--gray-24);

	--clear-bg: var(--gray-10);
	--clear-bg-hover: var(--gray-8);
	--clear-bg-active: var(--gray-6);
}
