@import (reference) "./func.less";

html[data-theme="dark"] {
	@import (multiple) "./common.less";

	--primary-hover: lighten(@primary-color, 5%);
	--primary-active: lighten(@primary-color, 10%);

	--complementary-hover: lighten(@complementary-color, 5%);
	--complementary-active: lighten(@complementary-color, 10%);

	.grays(@white);

	// body
	--bg-default: var(--gray-23);
	--bg-overlay: var(--gray-22);
	--bg-inset: var(--gray-24);
	--bg-subtle: var(--gray-22);

	// text
	--text-default: var(--gray-1);
	--text-emphasis: var(--gray-0);
	--text-subtle: var(--gray-5);
	--text-muted: var(--gray-8);

	// border
	--border-default: var(--gray-16);
	--border-muted: var(--gray-18);
	--border-subtle: var(--gray-20);

	// btn
	--btn-color: var(--gray-0);
	--btn-color-primary: var(--primary-contrast);
	--btn-color-invisible: var(--gray-24);

	--btn-border: var(--gray-14);
	--btn-border-hover: var(--gray-12);
	--btn-border-active: var(--gray-10);

	--btn-border-light: var(--primary-muted);
	--btn-border-light-hover: var(--primary-muted);
	--btn-border-light-active: var(--primary-muted);

	--btn-bg: var(--gray-18);
	--btn-bg-hover: var(--gray-16);
	--btn-bg-active: var(--gray-14);

	--btn-bg-primary: var(--primary);
	--btn-bg-primary-hover: var(--primary-hover);
	--btn-bg-primary-active: var(--primary-active);

	--btn-bg-light: var(--primary-muted);
	--btn-bg-light-hover: var(--primary-muted);
	--btn-bg-light-active: var(--primary-muted);
}
