@white: #ffffff;
@black: #000000;

.grays(@base: @black) {
	@min: 0;
	@max: 24;

	@is-dark: boolean(lightness(@base) < 50%);

	each(range(@min, @max, 1), {
		@v: (@value / @max) * 100%;
		@percentage: if(@is-dark, (100% - @v), @v);

		--gray-@{value}: mix(@primary-color, hsl(0, 0%, @percentage), 6%);
	})
}

.shades(@name, @clr) {
	@hue: hue(@clr);
	@saturation: saturation(@clr);

	& {
		--@{name}-100: mix(@primary-color, hsl(@hue, @saturation, (1 / 10) * 100%), 6%);
		--@{name}-200: mix(@primary-color, hsl(@hue, @saturation, (2 / 10) * 100%), 6%);
		--@{name}-300: mix(@primary-color, hsl(@hue, @saturation, (3 / 10) * 100%), 6%);
		--@{name}-400: mix(@primary-color, hsl(@hue, @saturation, (4 / 10) * 100%), 6%);
		--@{name}-500: mix(@primary-color, hsl(@hue, @saturation, (5 / 10) * 100%), 6%);
		--@{name}-600: mix(@primary-color, hsl(@hue, @saturation, (6 / 10) * 100%), 6%);
		--@{name}-700: mix(@primary-color, hsl(@hue, @saturation, (7 / 10) * 100%), 6%);
		--@{name}-800: mix(@primary-color, hsl(@hue, @saturation, (8 / 10) * 100%), 6%);
		--@{name}-900: mix(@primary-color, hsl(@hue, @saturation, (9 / 10) * 100%), 6%);
	}
}
