@import "../src/styles/variables/index.less";

.container {
	display: flex;
	flex-flow: row wrap;
	gap: (@margin-medium * 2) @margin-medium;
}

.section {
	flex: 1 auto;
	padding: @padding-medium;
	background-color: var(--bg-default);
	border: @border-width-medium solid var(--border-default);
	border-radius: @border-radius-medium;

	& h2 {
		padding-bottom: calc(@font-size-large + (@border-width-medium * 2));
		margin: -(@font-size-large * 2) 0 0;
		font-size: @font-size-large;
		font-weight: bold;
		line-height: 1;
	}
}
