@border-style: solid;
@border-width-medium: 1px;
@border-width-large: (@border-width-medium * 2);

@border-radius-extraSmall: 0.125em; // 2px
@border-radius-small: 0.25em; // 4px
@border-radius-medium: 0.375em; // 6px
@border-radius-large: 0.5em; // 8px
@border-radius-extra: 0.75em; // 12px
@border-radius-extraLarge: 1em; // 16px

@border-radius-round: 1.25em; // 20px
@border-radius-pill: 2.5em; // 40px
@border-radius-circle: 100%;
