@shadow-small: 0 3px 6px -2px var(--shadow-color);
@shadow-medium: 0 0 6px var(--shadow-color), 0 3px 0.75em var(--shadow-color);
@shadow-large: 0 0 6px var(--shadow-color), 0 3px 1em -0.25em var(--shadow-color);
@shadow-extra: 0 0 6px var(--shadow-color), 0 3px 1em -0.25em var(--shadow-color), 0 0 2em -0.5em var(--shadow-color);
