@margin-extraTiny: 0.25em; // 4px
@margin-tiny: 0.375em; // 6px
@margin-extraSmall: 0.5em; // 8px
@margin-small: 0.75em; // 12px
@margin-medium: 1em; // 16px
@margin-large: 1.125em; // 18px
@margin-extra: 1.25em; // 20px
@margin-extraLarge: 1.5em; // 24px

@padding-extraTiny: 0.25em; // 4px
@padding-tiny: 0.375em; // 6px
@padding-extraSmall: 0.5em; // 8px
@padding-small: 0.75em; // 12px
@padding-medium: 1em; // 16px
@padding-large: 1.125em; // 18px
@padding-extra: 1.25em; // 20px
@padding-extraLarge: 1.5em; // 24px
