@import "../../../src/styles/variables/index.less";

.container {
	display: flex;
	flex-flow: row wrap;
	gap: (@margin-medium * 4) (@margin-medium * 2);
	margin-block-start: 3.5em;
}

.section {
	flex: 1 auto;
	max-width: @screen-mobile-max;
	padding: @padding-medium;
	background-color: var(--bg-default);
	border-radius: @border-radius-medium;
	box-shadow: @shadow-small;

	& > h2 {
		padding-block-end: calc(@font-size-large + (@border-width-medium * 2));
		margin-block: -(@font-size-large * 2) 0;
		margin-inline: 0;
		font-size: @font-size-large;
		line-height: 1;
	}
}
