@import (reference) "./variables.less";
@import (reference) "../../portal/style/index.less";

.@{dialog-prefix} {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--bg-default);
	border-radius: 0;
	box-shadow: @shadow-extra;
	transform-origin: bottom center;
	animation: dialog-open @transition-speed-medium @transition-easing forwards;
	outline: 0;
	z-index: @z-index-modal;

	&[role="alertdialog"] {
		width: 90vw;
		max-width: @screen-mobile-medium;
		height: fit-content;
		margin: @dialog-margin-y auto 0;
		border-radius: @border-radius-large;

		.@{dialog-prefix}-header {
			height: auto;
			border-bottom: 0;
		}

		.@{dialog-prefix}-footer {
			padding-top: 0;
			border-top: 0;
		}
	}

	&-header {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		width: 100%;
		height: (unit(@line-height, em) * 2);
		padding: 0 @dialog-padding-x;
		border-bottom: @border-width-medium @border-style var(--border-subtle);
	}

	&-title {
		padding: 0;
		margin: 0;
		font-size: @font-size-medium;
		font-weight: @font-weight-bold;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	button&-close {
		flex-shrink: 0;
		margin: 0 -@dialog-padding-y 0 auto;
		color: var(--text-muted);

		&::after {
			content: "";
			position: absolute;
			top: -0.25em;
			right: 0;
			bottom: 0;
			left: -0.25em;
			width: calc(100% + 0.5em);
			height: calc(100% + 0.5em);
		}
	}

	&-body {
		flex: 1;
		display: block;
		padding: @dialog-padding-y @dialog-padding-x;
		overflow-y: auto;
	}

	&-footer {
		flex-shrink: 0;
		display: block;
		padding: @dialog-padding-y @dialog-padding-x calc(@dialog-padding-y + env(safe-area-inset-bottom, 0px));
		text-align: right;
		border-top: @border-width-medium @border-style var(--border-subtle);

		&-actions {
			display: inline-block;
			list-style: none;

			& li {
				display: inline-block;

				& + li {
					margin-left: 0.5em;
				}
			}
		}
	}

	.@{portal-prefix}&-portal {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		overflow: hidden;
		z-index: @z-index-modal;
	}

	&-backdrop {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.75);
		z-index: @z-index-modal-backdrop;
	}

	@media (min-width: (@dialog-max-width * 1.125)) {
		max-width: @dialog-max-width;
		height: fit-content;
		max-height: (100vh - (@dialog-margin-y * 2));
		margin: @dialog-margin-y auto 0;
		border-radius: @border-radius-large;

		&-footer {
			padding-bottom: @dialog-padding-y;
		}
	}
}

@keyframes dialog-open {
	0% {
		transform: translateZ(0) translateY(0.25rem) scale(0.99);
		opacity: 0.75;
	}
	to {
		transform: translateZ(0) translateY(0) scale(1);
		opacity: 1;
	}
}
