@import "./variables.less";
@import (reference) "../../input/style/variables.less";
@import (reference) "../../icon/style/variables.less";

.@{select-prefix} {
	.appearance();
	.touch-action();
	.input(inline-flex);

	min-width: @select-min-width;
	justify-content: space-between;
	align-items: center;
	gap: @input-padding-block;
	cursor: pointer;

	&[aria-expanded="true"] {
		border-color: var(--input-border-active);
		box-shadow: @input-shadow-focus;
	}

	& .@{icon-prefix} {
		font-size: @font-size-large;
	}

	&-text {
		flex: 1;
		font-size: inherit;
		color: inherit;
		line-height: @line-height;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-align: left;
		overflow: hidden;
	}

	&-placeholder {
		color: var(--text-placeholder);
	}

	& + &-clear {
		position: absolute;
		inset-block-start: (@input-padding-block + 0.25em);
		inset-inline-end: calc(@input-padding-inline + @border-width-medium);
		z-index: 2;
	}

	@media (hover: hover) {
		&:not(:hover) + .@{select-prefix}-clear:not(:hover):not([hidden]) {
			opacity: 0;
		}
	}

	&-portal {
		z-index: @z-index-dropdown;
	}

	&-wrapper {
		position: relative;
		display: inline-block;
		z-index: 1;
	}

	&-listbox {
		--listbox-border: var(--border-subtle);
		--listbox-border-focus: var(--border-subtle);

		width: inherit;
		box-shadow: @shadow-small, @shadow-large;
		max-height: 15em;
		animation: open-select @transition-speed-fast @transition-easing;

		&:focus {
			box-shadow: @shadow-small, @shadow-large;
		}
	}
}

@keyframes open-select {
	0% {
		transform: translateY(-0.5em);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
