@import "./variables.less";
@import (reference) "../../input/style/variables.less";
@import (reference) "../../icon/style/variables.less";

.@{select-prefix} {
	.appearance();
	.touch-action();
	.input(inline-flex);

	min-width: @select-min-width;
	justify-content: space-between;
	align-items: center;
	gap: @input-padding-y;
	cursor: pointer;

	&[aria-expanded="true"] {
		border-color: var(--input-border-active);
		box-shadow: @input-shadow-focus;
	}

	& .@{icon-prefix} {
		transform: translateZ(0) scale(unit(@font-size-large));
	}

	&-text {
		flex: 1;
		font-size: inherit;
		color: inherit;
		line-height: @line-height;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-align: left;
		overflow: hidden;
	}

	&-placeholder {
		color: var(--text-placeholder);
	}

	& + &-clear {
		position: absolute;
		inset-block-start: (@input-padding-y + 0.25em);
		inset-inline-end: calc(@input-padding-x + @border-width-medium);
		z-index: 2;
	}

	@media (hover: hover) {
		&:not(:hover) + .@{select-prefix}-clear:not(:hover):not([hidden]) {
			opacity: 0;
		}
	}

	&-portal {
		min-width: @select-min-width;
		z-index: @z-index-dropdown;
	}

	&-wrapper {
		position: relative;
		display: inline-block;
		z-index: 1;
	}

	&-listbox {
		box-shadow: @shadow-large;
		margin: @outline-width;
		max-height: 15em;
	}
}
